body {
  background-color:#2b2e30;
  font-family:monospace;
  color:white;
  text-align:center;
  line-height:60px;
  background-image:url(https://i.pinimg.com/originals/2f/f6/85/2ff68556b9d25c1aed0d365af26a8042.gif);
  background-repeat:no-repeat;
  background-blend-mode:color;
  background-size:cover;


}
 a {
  font-size:30px;
   position:relative;
   color:white;
   text-decoration:none;

 }

 .dropbtn {

  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  color: black;
  /*padding: 8px 10px;*/
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #b325b8;}

.button {
  text-align: center;
  width: auto;
  height: auto;
  font-size: 30px;
  font-family: monospace;
  background-color: none;
  margin: auto;
  cursor: pointer;
}
